$charter: 'Charter';
@font-face {
    font-family: $charter;
    src: url('/fonts/charter_regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: $charter;
    src: url('/fonts/charter_italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: $charter;
    src: url('/fonts/charter_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: $charter;
    src: url('/fonts/charter_bold_italic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}


$cabin: 'Cabin';
@font-face {
  font-family: $cabin;
  font-style: normal;
  font-weight: normal;
  src: local('Cabin'), local('Cabin-Regular'),
       url('/fonts/cabin-v14-latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/cabin-v14-latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: $cabin;
  font-style: italic;
  font-weight: normal;
  src: local('Cabin Italic'), local('Cabin-Italic'),
       url('/fonts/cabin-v14-latin-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/cabin-v14-latin-ext-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: $cabin;
  font-style: normal;
  font-weight: bold;
  src: local('Cabin Bold'), local('Cabin-Bold'),
       url('/fonts/cabin-v14-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/cabin-v14-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: $cabin;
  font-style: italic;
  font-weight: bold;
  src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'),
       url('/fonts/cabin-v14-latin-ext-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/cabin-v14-latin-ext-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$hack: 'Hack';
@font-face {
    font-family: $hack;
    src: url('/fonts/hack-regular.woff2') format('woff2');
    src: url('/fonts/hack-regular.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: $hack;
    src: url('/fonts/hack-italic.woff2') format('woff2');
    src: url('/fonts/hack-italic.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: $hack;
    src: url('/fonts/hack-bold.woff2') format('woff2');
    src: url('/fonts/hack-bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: $hack;
    src: url('/fonts/hack-bolditalic.woff2') format('woff2');
    src: url('/fonts/hack-bolditalic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}

$serif-font-family: $charter, Georgia, serif;
$sans-serif-font-family: $cabin, Helvetica, sans-serif;
$sans-serif-c-font-family: $cabin, Verdana, Helvetica, sans-serif;
$code-font-family: $hack, monospace;

%sans-serif {
    text-rendering: optimizeLegibility;
    font-family: $sans-serif-font-family;
    font-feature-settings: "onum" off, "kern" on;
}
%sans-serif-tnum {
    text-rendering: optimizeLegibility;
    @extend %sans-serif;
    font-feature-settings: 'kern' on, 'tnum' on;
}
%sans-serif-c {
    text-rendering: optimizeLegibility;
    font-family: $sans-serif-c-font-family;
    font-feature-settings: "onum" off, "kern" on;
}
%serif {
    text-rendering: optimizeLegibility;
    font-family: $serif-font-family;
    font-feature-settings: "kern" on;
}
